@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
}


section{
    display:flex;
    flex-direction: column;
    width:320px;
    min-height: 500px;

}

.heading{
    font-size:2.5rem;
    font-family:"Poppins",sans-serif;
    text-align: center;
}



.inputGroup{
    display: flex;
}

.inputGroup #urlInput{
    border-top:none;
    border-right:none;
    border-bottom:1px solid #222;
    border-left:none;
    outline:none;
    font-size:18px;
    color:#333;
    width:250px;
    height:35px;
    padding:0.1em;
    margin:1em 0 0 0.5em;
}

.inputGroup #addBtn{
    border:none;
    min-width:50px;
    font-size:1rem;
    padding:0.1em;
    color:#222;
    border-radius:3px;
    background:orangered;
    margin:1em 0 0 0.2em;
}

.blockList #urlList{
    margin: 1em 0 0 0.5em;
}


.blockList #urlList li{
    font-size:1.2rem;
    margin:0 0 1rem 0;
    color:#333;   
}

.closeBtn{
    float:right;
    border:none;
    color:#f00;
    font-size:1.5rem;
    margin:0 1em 0 0;
    padding:0.2em;
    cursor: pointer;
    background:#fff;
}